@model EntityLayer.Concrete.Customer

@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post, new { id = "addCustomerForm" })) // Post işlemi  yapıldığında, Ajax ile addCustomerForm'u çağırıyor'
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Müşteri Ekle</p>
                <form class="forms-sample">
                    <!-- Form içeriği buraya gelecek -->
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Soyad</label>
                        <input type="text" class="form-control" name="Surname">
                    </div>
                    <div class="form-group">
                        <label>Doğum Tarihi</label>
                        <input type="text" class="form-control" name="DateOfBirth">
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <input type="text" class="form-control" name="PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" class="form-control" name="Mail">
                    </div>
                    <div class="form-group">
                        <label>Kayıt Tarihi</label>
                        <input type="text" class="form-control" name="RegistrationDate">
                    </div>
                    <div class="form-group">
                        <label>Cinsiyet</label>
                        <input type="text" class="form-control" name="Gender">
                    </div>
                    <div class="form-group">
                        <label>Durum</label>
                        <input type="text" class="form-control" name="Status">
                    </div>


                    <button type="button" onclick="addCustomer()" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

<script>


        function addCustomer() {
            $.ajax({
                url: $('#addCustomerForm').attr('action'),
                type: $('#addCustomerForm').attr('method'),
                data: $('#addCustomerForm').serialize(),
                success: function (response) {
                    // Başarılı ise gerekli işlemleri yapabilirsiniz
                    alert('Müşteri başarıyla eklendi: ' + response);
                    window.location.href = '/Customer/Index';
                },
                error: function (xhr, status, error) {
                    // Hata durumunda hataları kullanıcıya göster
                    var errors = JSON.parse(xhr.responseText);
                    alert('Hata: ' + errors.join(', '));
                }
            });
        }

    function updateCustomerList() {
        $.ajax({
            url: '/Customer/GetCustomerList', // Müşteri listesini getiren bir action olmalı
            type: 'GET',
            success: function (response) {
                // Müşteri listesini güncelle
                $('#customerList').html(response);
            },
            error: function (xhr, status, error) {
                // Hata durumunda hataları kullanıcıya göster
                var errors = JSON.parse(xhr.responseText);
                alert('Hata: ' + errors.join(', '));
            }
        });
    }

    // Sayfa yüklendiğinde müşteri listesini göster
    $(document).ready(function () {
        updateCustomerList();
    });
</script>
</script>

@*@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Müşteri Ekle</p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Soyad</label>
                        <input type="text" class="form-control" name="Surname">
                    </div>
                    <div class="form-group">
                        <label>Doğum Tarihi</label>
                        <input type="text" class="form-control" name="DateOfBirth">
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <input type="text" class="form-control" name="PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" class="form-control" name="Mail">
                    </div>

                    <div class="form-group">
                        <label>Kayıt Tarihi</label>
                        <input type="text" class="form-control" name="RegistrationDate">
                    </div>
                    <div class="form-group">
                        <label>Cinsiyet</label>
                        <input type="text" class="form-control" name="Gender">
                    </div>
                    <div class="form-group">
                        <label>Durum</label>
                        <input type="text" class="form-control" name="Status">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}*@